{% load static %}
<header id="header">
    <div class="header-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-6 col-6 header-top-left">
                    <ul>
                        <li><a href="#">Visit Us</a></li>
                        <li><a href="#">Buy Tickets</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 col-sm-6 col-6 header-top-right">
                    <div class="header-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="{% url 'home_app:home' %}"><img src="{% static 'img/logo.png' %}" alt="" title=""/></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="{% if request.resolver_match.url_name == 'home' %}active bg-orange{% endif %}"><a
                            href="{% url 'home_app:home' %}">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li class="menu-has-children"><a href="{% url 'blog_app:posts-list' %}">Blog</a>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="{% url 'blog_app:api-v1:post-list' %}">API</a></li>
                    {% if user.is_authenticated %}
                        <li class="menu-has-children">
                            <a>{{ user.email }}</a>

                            <ul>
                                <li>
                                    <a class="menu-item" href="{% url 'blog_app:post-create' %}">AddPost</a>
                                </li>

                                <li>
                                    <a class="menu-item">Profile</a>
                                </li>

                                <li>
                                    <form method="POST" action="{% url 'accounts_app:logout' %}">
                                        {% csrf_token %}
                                        <button type="submit" class="menu-item logout-btn">
                                            Logout
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="menu-has-children"><a href="">Sign-in</a>
                            <ul>
                                <li><a href="{% url 'accounts_app:login' %}">Login</a></li>
                                <li><a href="{% url 'accounts_app:register' %}">register</a></li>
                            </ul>
                        </li>

                    {% endif %}
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header><!-- #header -->